#!/bin/bash

env > /tmp/environment
echo ${bucket} > /tmp/bucket_name
amazon-linux-extras install java-openjdk11

mkdir /opt/kafka
cd /opt/kafka
aws s3 cp s3://${bucket}/kafka_2.12-2.8.1.tgz .
tar -zxvf kafka_2.12-2.8.1.tgz

#install docker
sudo su

if [ "${USER}" == "root" ]; then
  sudo amazon-linux-extras install docker
fi


